<div class="service">
  <h1><span class="minor_heading">Resource: </span><%= object.tag("url").text %></h1>
  <% unless object.tag("topic").nil? %>
  <!-- fixme: needs style -->
    <h1><span class="minor_heading">Topic: </span><%= object.tag("topic").text %></h1>
  <% end %>
  <%= yieldall %>
</div>
