<div class="service">
  <h1 class="noborder title"><%= options[:title] %></h1>
    <a href="<%= url_for('index.html') %>" title="back to the overview">&laquo; Overview</a>
    <%= yieldall %>
</div>












