<div class="service">
  <h1 class="noborder title"><%= options[:title] %></h1>
    <a class="back" href="<%= url_for('index.html') %>" title="back to the overview">&laquo; back to overview</a>
    <h2><%= object.name.to_s.gsub(/Controller/,"") %></h2>
    <%= yieldall %>
</div>












