<div id="start">
  <h1 class="noborder title"><%= options[:title] %></h1>

	<%= htmlify(@readme.contents) if @readme%>

  <h2>All Resources</h2>
  <ul id="resources">
	<% unless @resources.nil? %>
    <% @resources.each do |resource| %>
	    <li><%= linkify(resource, resource.name.to_s.gsub(/Controller/, "")) %></li>
    <% end %>
  <% end %>
  </ul>

  <div class="clear"></div>

</div>
